
<ion-content>
<ion-slides pager="true">
  <ion-slide>
    <h1>Disfruta del chat con tus amigos</h1>
    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
  </ion-slide>
  <ion-slide>
    <h1>Escucha música desde cualquier lugar</h1>
    <ion-icon name="musical-notes-outline"></ion-icon>
  </ion-slide>
  <ion-slide>
    <ion-icon name="close-outline" (click)="finishIntro()"></ion-icon>
    <h1>Localiza a tus amigos para compartir tus ideas</h1>
    <ion-icon name="location-outline"></ion-icon>
  </ion-slide>
</ion-slides>
</ion-content>
